* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: darkgray;
  min-height: 200vh;
}

/* HEADER --------------------------------------------------------------------------------------------------- */

header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  transition: all 0.5s;
  padding: 40px 40px;
  z-index: 4;
}

header.sticky {
  padding: 15px 40px;
  /* background: #0093ff; */
  background: rgb(41, 41, 41);
  /* color: #009e4d; */
}

header a .logo {
  position: relative;
  height: 130px;
  margin-top: -26.25px;
  margin-bottom: -40px;
  transition: 0.5s;
}

.navbar-links {
  transition: 0.5s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
}

header ul li {
  position: relative;
  list-style: none;
  transition: 0.5s;
  border-radius: 10px;
  padding: 10px 0;
}

header ul li:hover {
  transform: translateY(-3px);
  background: rgba(256, 256, 256, 0.2);
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
  font-size: 18px;
}

header .liActive,
header.sticky .liActive {
  color: #de1796;
  font-weight: bold;
}
.toggle-button {
  top: 55px;
  right: 40px;
  display: none;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s;
}
.toggle-button-sandwich {
  width: 37.5px;
  height: 4.5px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s;
}
.toggle-button-sandwich::after,
.toggle-button-sandwich::before {
  content: '';
  position: absolute;
  width: 37.5px;
  height: 4.5px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s;
}

.toggle-button-sandwich::after {
  transform: translateY(-12px);
}
.toggle-button-sandwich::before {
  transform: translateY(12px);
}

header.sticky > .toggle-button {
  top: 30px;
}

@media (max-width: 700px) {
  .toggle-button {
    display: flex;
  }
  /* ANIMATION of toggle button  */
  .toggle-button.active .toggle-button-sandwich {
    transform: translateX(-37.5px);
    background: transparent;
  }
  .toggle-button.active .toggle-button-sandwich::before {
    transform: rotate(45deg) translate(26.25px, -26.25px);
    background: #de1796;
  }
  .toggle-button.active .toggle-button-sandwich::after {
    transform: rotate(-45deg) translate(26.25px, 26.25px);
    background: #de1796;
  }

  .navbar-links {
    display: flex;
    opacity: 0;
    height: auto;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
  }
  .navbar-links li {
    text-align: center;
    padding: 1rem;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    max-height: 305px;
    opacity: 1;
  }
  header.active {
    background-color: #18181a;
  }
}
