* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}

body {
  /* background: #eff0f0; */
  background: #292929;
  min-height: 100vh;
}

/* HEADER --------------------------------------------------------------------------------------------------- */

header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  transition: all 0.5s;
  padding: 40px 40px;
  z-index: 4;
}

header.sticky {
  padding: 15px 40px;
  /* background: #0093ff; */
  background: #1b1b1b;
  /* color: #009e4d; */
}

header a .logo {
  position: relative;
  height: 100px;
  margin: -15px;
  transition: 0.5s;
}
header.sticky a .logo {
  height: 60px;
}

header.sticky .headerContact {
  opacity: 0;
  transform: translateY(-40px);
}

.navbar-links {
  transition: 0.5s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
}

header ul li {
  position: relative;
  list-style: none;
  transition: 0.5s;
  margin: 0 10px;
}
header .headerContact {
  position: fixed;
  right: 50px;
  top: 25px;
  transition: 0.5s;
}

header .headerContact a {
  color: ivory;
  padding: 0 15px;
  transition: 0.5s;
}
header .headerContact a i {
  font-size: 1.2em;
  transition: 0.5s;
}

header .headerContact a:hover > i {
  color: #de1796;
}

header ul li a:hover {
  transform: translateY(-3px);
  /* background: rgba(256, 256, 256, 0.2); */
  color: #de1796;
  /* font-size: 1em; */
}

header ul li a {
  border-radius: 10px;
  position: relative;
  display: block;
  padding: 12px 10px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
  font-size: 16px;
}

header .liActive,
header.sticky .liActive {
  color: #de1796;
  font-weight: bold;
}
.toggle-button {
  top: 55px;
  right: 40px;
  display: none;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s;
}
.toggle-button-sandwich {
  width: 37.5px;
  height: 4.5px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s;
}
.toggle-button-sandwich::after,
.toggle-button-sandwich::before {
  content: '';
  position: absolute;
  width: 37.5px;
  height: 4.5px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s;
}

.toggle-button-sandwich::after {
  transform: translateY(-12px);
}
.toggle-button-sandwich::before {
  transform: translateY(12px);
}

header.sticky > .toggle-button {
  top: 8px;
}

@media (max-width: 700px) {
  .toggle-button {
    display: flex;
  }
  /* ANIMATION of toggle button  */
  .toggle-button.active .toggle-button-sandwich {
    transform: translateX(-37.5px);
    background: transparent;
  }
  .toggle-button.active .toggle-button-sandwich::before {
    transform: rotate(45deg) translate(26.25px, -26.25px);
    background: #de1796;
  }
  .toggle-button.active .toggle-button-sandwich::after {
    transform: rotate(-45deg) translate(26.25px, 26.25px);
    background: #de1796;
  }

  .navbar-links {
    display: flex;
    opacity: 0;
    height: auto;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
    padding-top: 15px;
  }
  .navbar-links li a {
    padding: 15px 10px;
  }
  .navbar-links.active {
    max-height: 305px;
    opacity: 1;
  }
  header.active {
    background-color: #1b1b1b;
  }

  header .headerContact {
    opacity: 0;
    transform: translateY(-40px);
  }
}

/* Carousell ----------------------------------------------------------------------------------------------- */
.home {
  height: 100vh;
  overflow: hidden;
  position: relative;
  color: ivory;
}
/* MAIN PART ABOUT SLIDE --------------------------------------  */
.home .slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  display: none;
  padding: 0 15px;
  animation: slide 2s ease;
}

.home .slide.active {
  display: flex;
}

@keyframes slide {
  0% {
    opacity: 0.8;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.container {
  max-width: 1070px;
  margin: auto 0 auto 5%;
}

.home .container {
  flex-grow: 1;
}

.home .caption {
  width: 60%;
}

.home .caption h1 {
  font-size: 42px;
  margin: 0;
}

.home .slide.active .caption h1 {
  opacity: 0;
  animation: captionText 1s ease forwards;
  animation-delay: 0.8s;
}

.home .caption p {
  font-size: 18px;
  margin: 8px 0;
}

.home .slide.active .caption .p1 {
  opacity: 0;
  animation: captionText 1s ease forwards;
  animation-delay: 1.6s;
}
.home .slide.active .caption .p2 {
  opacity: 0;
  animation: captionText 1s ease forwards;
  animation-delay: 2s;
}
.home .slide.active .caption .p3 {
  opacity: 0;
  animation: captionText 1s ease forwards;
  animation-delay: 2.4s;
}

.home .caption a {
  display: inline;
  padding: 10px 30px;
  background: #000000;
  text-decoration: none;
  color: ivory;
}
.home .slide.active .caption a {
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1.2s;
}

@keyframes captionText {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.home .controls .prev,
.home .controls .next {
  display: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  color: ivory;
  background-color: #de1796;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.home .controls .prev:hover,
.home .controls .next:hover {
  background-color: #000000;
}

.home .controls .prev {
  left: 0;
}

.home .controls .next {
  right: 0;
}

/* indicator ------------------------  */
.home .indicator {
  position: absolute;
  left: 50%;
  bottom: 30px;
  z-index: 2;
  transform: translateX(-50%);
}

.home .indicator div {
  display: inline-block;
  font-size: 0px;
  width: 10px;
  height: 10px;
  color: ivory;
  background-color: #cccccc;
  border-radius: 50%;
  line-height: 25px;
  text-align: center;
  margin: 0 3px;
  cursor: pointer;
}

.home .indicator div.active {
  background-color: #de1796;
}

/* responive  */

@media (max-width: 767px) {
  .controls {
    display: none;
  }
}

/* WHAT WE DO ---------------------------------------------------------------------------------------- */
.what-we-do {
  padding: 50px 0;
}

/* header what we do  */
.header-what-we-do {
  width: 80vw;
  height: auto;
  margin: 0 auto 30px auto;
}

.header-what-we-do h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 20px;
}
.header-what-we-do p {
  color: #fff;
  font-size: 17px;
  text-align: center;
}
@media (max-width: 550px) {
  .header-what-we-do {
    width: 90vw;
  }
  .header-what-we-do h3 {
    font-size: 30px;
  }
  .header-what-we-do p {
    font-size: 15px;
  }
}

/* main part of the  blocks  */
.card_holder {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}

.card {
  width: 20rem;
  /* background-color: #f7f7f7; */
  background: linear-gradient(to top, #f7f7f7 90%, transparent 10%);
  color: rgb(41, 41, 41);
  margin: 20px auto;
  align-self: flex-start;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.card_name {
  font-size: 1.1em;
  text-align: center;
  border-bottom: solid #de1796 1px;
}

.card_img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  transition: all 0.5s;
}
.card-img-container {
  max-height: 12rem;
  overflow: hidden;
}
.card:hover > .card-img-container .card_img {
  transform: scale(1.05);
  opacity: 1;
}

.card_contents {
  padding: 1rem;
}

h1 {
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.card_contents p {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  text-align: center;
}
.card_read_more {
  display: block;
  opacity: 0;
  height: auto;
  max-height: 0px;
  transition: all 0.5s;
  overflow: hidden;
}

.card_read_more--open {
  opacity: 1;
  max-height: 150px;
  margin-bottom: 15px;
}

.read_more_btn {
  display: inline-block;
  color: #eee;
  background-color: #de1796;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  position: relative;
  z-index: 1;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 5px;
}
br {
  margin-bottom: 0.8rem;
}

.read_more_btn:hover {
  /* background-color: #fff; */
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

/* SLOW INTERNET ------------------------------------------------------------------------------------------  */
.internet-container {
  height: auto;
  width: 100%;
  margin: 100px auto 0 auto;
}
.internet-picture {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('./slow-internet.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  margin: 0 auto;
}
.internet-info {
  width: 100%;
  color: ivory;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.internet-info h1 {
  width: 90%;
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  margin: 0 auto;
}
.internet-info p {
  width: 90%;
  font-weight: 300;
  text-align: center;
  font-size: 20px;
  margin: 20px auto 20px auto;
}
.internet-info ul {
  font-size: 18px;
  line-height: 24px;
  margin-left: 5%;
  margin-top: 30px;
}
.internet-info ul li:before {
  content: '\2713';
  vertical-align: middle;
  font-size: 15px;
  color: #de1796;
  font-weight: bold;
  display: inline-block;
  width: 20px;
}
.internet-container .text-btn {
  text-align: center;
  margin: 40px auto;
}
.internet-container .arrow {
  font-size: 18px;
}

@media (max-width: 600px) {
  .internet-info h1 {
    font-size: 30px;
  }
  .internet-info p {
    font-size: 18px;
  }
  .internet-info ul {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 400px) {
  .internet-info h1 {
    font-size: 24px;
  }
  .internet-info p {
    font-size: 16px;
  }
  .internet-info ul {
    font-size: 14px;
  }
}

/* APPOINTMENT SECTION -------------------------------------------------------------- */

.appointment-container {
  width: 90vw;
  max-width: 1360px;
  height: auto;
  display: flex;
  margin: 20px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  overflow: hidden;
}
.appointment-image {
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
    url('./Apple-Hardware-Updrades.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 50%;
  max-width: 680px;
}
.appointment-text {
  background: #0093ff;
  height: 600px;
  width: 50%;
  max-width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.appointment-text h3 {
  color: ivory;
  font-size: 36px;
  margin: 0 auto;
  font-family: sans-serif;
}
.appointment-text p {
  font-size: 20px;
  color: ivory;
  width: 90%;
  margin: 0 auto;
}
.contact-btn {
  display: inline-block;
  color: #eee;
  padding: 0.6rem 1.5rem;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
}
.contact-btn:hover {
  /* background-color: #fff; */
  /* box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1); */
  transform: translateX(-10px);
  color: white;
}

.contact-btn .arrow {
  font-weight: lighter;
  font-size: 20px;
  opacity: 0;
  transition: all 0.5s;
}

.contact-btn:hover > .arrow {
  opacity: 1;
}

@media (max-width: 1040px) {
  .appointment-text,
  .appointment-image {
    /* width: 100%; */
    height: 500px;
  }
}

@media (max-width: 900px) {
  .appointment-container {
    flex-direction: column;
    width: 550px;
  }
  .appointment-text,
  .appointment-image {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .appointment-container {
    width: 90vw;
  }
}

@media (max-width: 450px) {
  .appointment-image {
    height: 400px;
  }
  .appointment-text h3 {
    font-size: 26px;
  }
  .appointment-text p {
    font-size: 18px;
  }
}

/* UPGRADE HARD DISK ------------------------------------------------------------------------------------ */
.disk_upgrade {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./galaxy_of_numbers.jpg') repeat fixed center 100%;
  margin-top: 100px;
}
.disk_upgrade_header h1 {
  color: white;
  font-size: 40px;
  text-align: center;
  font-weight: 300;
}

.disk_upgrade_container {
  padding: 5% 0 6% 0;
  display: flex;
  align-items: center;
}

.ssdVsHdd {
  width: 50%;
  height: auto;
  /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); */
  margin: 0 3%;
}

.ssdVsHdd img {
  width: 100%;
  border-radius: 8px;
}
.ssdText {
  width: 50%;
  margin: 0 3%;
  color: white;
}
.ssdText h1 {
  color: white;
  font-weight: 300;
  text-align: center;
  font-size: 40px;
  margin-bottom: 15px;
}
.ssdText p {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: lighter;
  text-align: justify;
}
.ssdText ul {
  font-size: 18px;
  margin-bottom: 30px;
  list-style: none;
}

@media (max-width: 990px) {
  .disk_upgrade_container {
    flex-direction: column;
  }
  .ssdText,
  .ssdVsHdd {
    width: 80%;
    margin: 0 0 30px 0;
  }
}
@media (max-width: 500px) {
  .ssdText,
  .ssdVsHdd {
    width: 90%;
  }
  .ssdText h1 {
    font-size: 30px;
  }
}

/* DIRECTIONS ---------------------------------------------------------------------------------------- */
.directions {
  position: relative;
  display: flex;
  padding: 50px 60px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.directions .contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.directions .contact-header {
  font-size: 25px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 20px;
}

.directions .contact-header h1 {
  font-weight: 300;
  text-align: center;
}
.directions .contact-header h6 {
  font-weight: 400;
  text-align: center;
}
.directions .contact-container .contact-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.directions .contact-container .contact-info .contact-box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.directions .contact-container .contact-info .contact-box .contact-icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  transition: all 0.5s;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.directions .contact-container .contact-info .contact-box .contact-icon:hover {
  background: #de1796;
}

.directions .contact-container .contact-info .contact-text {
  display: flex;
  color: #fff;
  font-size: 16px;
  margin-left: 20px;
  flex-direction: column;
}

.directions .contact-container .contact-info .contact-text h3 {
  font-weight: 500;
  margin-bottom: 5px;
  color: #de1796;
}
.directions .map-box {
  width: 70%;
  padding: 40px;
}
.directions .map {
  width: 100%;
  height: 500px;
  border-radius: 5px;
}
@media (max-width: 991px) {
  .directions .contact {
    padding: 50px;
  }
  .directions .contact-container {
    flex-direction: column;
  }
  .directions .contact-container .contact-info {
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 0%;
  }
  .directions .contact-container .contact-info,
  .directions .contact-container .map-box {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .directions {
    padding: 50px 0;
  }
}
@media (max-width: 600px) {
  .directions .contact-container .contact-info {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 60px;
  }
  .directions .contact-container .map-box {
    padding: 40px 10px;
  }
}

/* FOOTER --------------------------------------------------------------------------------------------- */
.footer {
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 50px 0;
  box-sizing: border-box;
  background-color: #1b1b1b;
}

.inner-footer {
  display: block;
  margin: 0 auto;
  width: 100vw;
  height: 100%;
}
.inner-footer .footer-logo-container {
  width: 30%;
  float: left;
  height: 100%;
}

.inner-footer .footer-logo-container img {
  width: 120px;
  height: auto;
  margin-left: 5vw;
}

.inner-footer .footer-third {
  width: calc(21.16666666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
}

.inner-footer .footer-third:last-child {
  margin-right: 0%;
}

.inner-footer .footer-third h1 {
  font-family: 'arial';
  font-size: 22px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.inner-footer .footer-third a {
  font-family: 'arial';
  font-size: 18px;
  color: white;
  display: block;
  width: 100%;
  padding-bottom: 5px;
  font-weight: 200;
}

.inner-footer .footer-third .fa-facebook {
  transition: all 0.4s;
}
.inner-footer .footer-third .fa-facebook:hover {
  color: #4267b2;
}

.inner-footer .footer-third .fa-twitter {
  transition: all 0.4s;
}
.inner-footer .footer-third .fa-twitter:hover {
  color: #00acee;
}

.inner-footer .footer-third .fa-instagram {
  background: transparent;
  border-radius: 15px;
  transition: all 0.4s;
}
.inner-footer .footer-third .fa-instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 35%,
    #d6249f 50%,
    #285aeb 80%
  );
}

.inner-footer .footer-third li {
  display: inline-block;
  padding: 0 5px;
  font-size: 20px;
}

.inner-footer .footer-third span {
  color: white;
  font-family: 'arial';
  font-size: 16px;
  font-weight: 200;
  display: block;
  width: 100%;
  padding-top: 20px;
}

@media (max-width: 900px) {
  .footer .footer-logo-container {
    display: none;
  }
  .footer .footer-third {
    width: 30vw;
    float: none;
    margin-right: 0;
    display: inline-table;
    text-align: left;
  }
  .footer .inner-footer {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .footer .inner-footer {
    width: 90%;
  }
  .inner-footer .footer-logo-container,
  .inner-footer .footer-third {
    width: 100%;
    margin-bottom: 30px;
  }
}
/* Rights Reserved ------------------------------------------------------------ */
.rightsReserved {
  width: 100%;
  background: #000000;
  font-family: inherit;
  font-weight: inherit;
  color: #cccccc;
  font-size: 15px;
  text-align: center;
  padding: 20px 0;
}

.rightsReserved p {
  width: 90%;
  margin: 0 auto;
}

/* SPACE Tool Bar --------------------------------------------------------------------- */
.spacebar {
  width: 300px;
  height: 80px;
  display: flex;
  align-items: center;
  margin: 60px auto 0 auto;
}
.crossed-tools-logo {
  height: 35px;
  width: 35px;
  margin: 20px auto;
}

.crossed-tools-logo i {
  color: #de1796;
  font-size: 30px;
}
.line {
  background-color: #eee;
  height: 1px;
  width: 100px;
  right: 0px;
}

/* CONTACT PAGE ---------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */ /* ------------------------------------------------------------------------------------- */ /* ------------------------------------------------------------------------------------- */ /* ------------------------------------------------------------------------------------- */

.contact {
  position: relative;
  display: flex;
  padding: 50px 100px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('./city-cityscape-space-building-skyscraper-computer-783904-wallhere.com.jpg');
  background-size: cover;
}

.contact .contact-content {
  max-width: 800px;
  text-align: center;
}

.contact .contact-content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}
.contact .contact-content p {
  font-weight: 300;
  color: #fff;
}

.contact .contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contact .contact-container .contact-info {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.contact .contact-container .contact-info .contact-box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contact .contact-container .contact-info .contact-box .contact-icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  transition: all 0.5s;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.contact .contact-container .contact-info .contact-box .contact-icon:hover {
  background: #de1796;
}

.contact .contact-container .contact-info .contact-text {
  display: flex;
  color: #fff;
  font-size: 16px;
  margin-left: 20px;
  flex-direction: column;
  font-weight: 300;
}

.contact .contact-container .contact-info .contact-text h3 {
  font-weight: 500;
  margin-bottom: 5px;
  color: #de1796;
}
.message {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  background-color: #0093ff;
  margin-top: 30px;
  padding: 40px 20px;
}
.message .contact-form {
  width: 55%;
  max-width: 1000px;
  padding: 40px;
  margin: 30px 0;
  background: #fff;
  border-radius: 8px;
}

.message .contact-form h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.message .contact-form .input-box {
  position: relative;
  margin-top: 10px;
  width: 100%;
}

.message .contact-form .input-box input,
.message .contact-form .input-box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: vertical;
  min-height: 30px;
}

.message .contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.message .contact-form .input-box input:focus ~ span,
.message .contact-form .input-box textarea:focus ~ span,
.message .contact-form .input-box input:valid ~ span,
.message .contact-form .input-box textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.message .contact-form .input-box input[type='submit'] {
  width: 100px;
  background: #de1796;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.message .contact-form-text {
  color: #fff;
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.message .contact-form-text h1 {
  font-size: 30px;
}
.message .contact-form-text p {
  font-size: 20px;
}
@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .contact .contact-container {
    flex-direction: column;
  }

  .contact .contact-container .contact-info {
    margin-bottom: 40px;
  }

  .contact .contact-container .contact-info {
    width: 100%;
  }

  .contact .map-box {
    margin-top: 50px;
    border-radius: 8px;
  }
  .message {
    flex-direction: column-reverse;
    align-items: center;
  }
  .message .contact-form {
    width: 80%;
  }
  .message .contact-form-text {
    width: 80%;
    padding: 20px 0;
  }
}
@media (max-width: 600px) {
  .message .contact-form-text {
    width: 90vw;
  }
  .message .contact-form-text h1 {
    font-size: 25px;
  }
  .message .contact-form-text p {
    font-size: 16px;
  }
  .message .contact-form {
    width: 90vw;
  }
}
